body {
    margin: 0;
    background: black;
}

.noSpace {
    margin: 0;
    padding: 0;
}

.topnav {
    color: white;
    font-family: "Maven Pro";
    width: 100%;
    height: 100px;
}

.topnav .forStartups {
    display: inline-block;
    margin-top: 65px;
    margin-left: 20px;
    position: absolute;
}

.topnav .forStartups .colorBox {
    background: #EFC988;
    display: inline-block;
    border-radius: 3px;
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
}

.topnav .forStartups .colorBox a{
    color: black;
}

.topnav .companyName {
    display: inline-block;
    text-align: left;
    width: 100%;
    position: absolute;
}

.topnav .companyName .title {
    font-size: 100px;
    text-align: center;
}

.topnav .login {
    display: inline-block;
    width: 100%;
    position: absolute;
    text-align: right;
    margin-top: 70px;
}

.topnav .login a {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}